//
// Do any local configuration here
//

// Consider adding the 1918 zones here, if they are not used in your
// organization
//include "/etc/bind/zones.rfc1918";

{% for domain in available_zone_domains -%}
zone "{{ domain }}" {
        type master;
        file "/etc/bind/zones/db.{{ domain }}";
};

{% endfor %}

zone "{{ subnet_reversed_octet }}.in-addr.arpa" {
        type master;
        file "/etc/bind/zones/db.{{ subnet_reversed_octet }}";
};